@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..1000');

html {
    background: rgb(63,94,251);
    background: linear-gradient(58deg, rgba(63,94,251,1) 0%, rgba(123,86,205,1) 36%, rgba(159,82,178,1) 60%, rgba(252,70,107,1) 100%) fixed;
    
    color: rgb(255, 255, 255);
}