@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Segoe UI, Roboto, apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}